<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.litarvan.thundermusic" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Olivia</name>
    <description>
        Your new best friend built with an artificial neural network 
    </description>
    <author email="inseretonemail" href="http://inseretonsite">
        Hugo 'Anana'
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/ldpi.png" />
        <icon density="mdpi" src="res/icon/mdpi.png" />
        <icon density="hdpi" src="res/icon/hdpi.png" />
        <icon density="xhdpi" src="res/icon/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="^5.0.1" />
    <engine name="android" spec="~8.0.0" />
</widget>
