@keyframes writing-effect-opacity {
    0% {
        -webkit-transform: translate(0 0);
        transform: translate(0 0);
        opacity: 1;
    }
    49.99% {
        opacity: 1;
        -webkit-transform: translate(80px, 0);
        transform: translate(80px, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(80px, 0);
        transform: translate(80px, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes writing-effect-opacity {
    0% {
        -webkit-transform: translate(0 0);
        transform: translate(0 0);
        opacity: 1;
    }
    49.99% {
        opacity: 1;
        -webkit-transform: translate(80px, 0);
        transform: translate(80px, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(80px, 0);
        transform: translate(80px, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes writing-effect {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(80px, 0);
        transform: translate(80px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes writing-effect {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(80px, 0);
        transform: translate(80px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.writing-effect {
    position: relative;
}

.writing-effect div {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 60px;
    left: 20px;
}

.writing-effect div:nth-child(1) {
    background: #ff3aaf;
    -webkit-animation: writing-effect 1.3s linear infinite;
    animation: writing-effect 1.3s linear infinite;
    -webkit-animation-delay: -0.65s;
    animation-delay: -0.65s;
}

.writing-effect div:nth-child(2) {
    background: #df198f;
    -webkit-animation: writing-effect 1.3s linear infinite;
    animation: writing-effect 1.3s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.writing-effect div:nth-child(3) {
    background: #ff3aaf;
    -webkit-animation: writing-effect-opacity 1.3s linear infinite;
    animation: writing-effect-opacity 1.3s linear infinite;
    -webkit-animation-delay: -0.65s;
    animation-delay: -0.65s;
}

.writing-effect {
    width: 28px !important;
    height: 28px !important;
    -webkit-transform: translate(-14px, -14px) scale(0.14) translate(14px, 14px);
    transform: translate(-14px, -14px) scale(0.14) translate(14px, 14px);
}